<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7cc20310dc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./style.css" />
    <title>MMM Fitness</title>
  </head>
  <body>
    <div class="container">
      <div class="toptier">
        <img class="logo-img" src="./img/logo.png" alt="" />

        <div class="menu-btn">
          <div class="btn-line btn-line1"></div>
          <div class="btn-line btn-line2"></div>
          <div class="btn-line btn-line3"></div>
        </div>
      </div>

      <div class="menu">
        <a class="menu-item" href="/adduser">Add User</a>
        <form action="/logout?_method=DELETE" method="POST">
          <button class="menu-item menu-item-hilight" type="submit">
            LOG OUT
          </button>
        </form>
      </div>

      <div class="landing">
        <div class="main">
          <% if (users != "") { %> <% users.forEach((row, index) => { %>
          <div class="card-user">
            <div class="card-title"><%= row.name %></div>
            <div class="card-line">
              <div class="card-icon-left">
                <i class="fa-solid fa-envelope"></i>
              </div>
              <a class="card-user-link" href="mailto:<%= row.email %>"
                ><%= row.email %></a
              >
            </div>
            <div class="card-line">
              <div class="card-icon-left">
                <i class="fa-solid fa-phone"></i>
              </div>
              <a class="card-user-link" href="tel:<%= row.phone %>"
                ><%= row.phone %></a
              >
            </div>
            <div class="card-menu">
              <div class="">
                <a
                  class="card-menu-icon-checkin card-menu-icon"
                  href="/user/<%= row._id %>"
                  ><i class="fa-solid fa-check-to-slot"></i
                ></a>
              </div>
              <div class="">
                <a
                  class="card-menu-icon-workout card-menu-icon"
                  href="/user/<%= row._id %>"
                  ><i class="fa-solid fa-dumbbell"></i
                ></a>
              </div>
              <div class="">
                <a
                  class="card-menu-icon-profile card-menu-icon"
                  href="/user/<%= row._id %>"
                  ><i class="fa-solid fa-user"></i
                ></a>
              </div>
              <div class="">
                <a
                  class="card-menu-icon-edit card-menu-icon"
                  href="/user/edit/<%= row._id %>"
                  ><i class="fa-solid fa-pen-to-square"></i
                ></a>
              </div>
              <div class="">
                <a
                  class="card-menu-icon-delete card-menu-icon"
                  href="/user/delete/<%= row._id %>"
                  ><i class="fa-solid fa-trash"></i
                ></a>
              </div>
              <!-- <div class="modal hidden modal-<%= row._id %>">
                Are you sure you want to delete <%= row.name %> ?
                <div class="card-line-btns">
                  <a href="/admin" class="modal-btn">CANCEL</a>
                  <button type="submit" class="modal-btn">DELETE</button>
                </div>
              </div> -->
            </div>
          </div>
          <% }) %> <% } else { %>
          <h1>No Users Found!</h1>

          <% } %>
        </div>
      </div>

      <div class="footer">
        <img class="logo-footer" src="/img/logodarkbg.png" alt="" />

        <div class="footertext">
          <div class="footertitle">MMM Fitness</div>
          <div class="footert">Ian Clasby</div>
          <div class="footericons">
            <div class="footericon1">
              <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            </div>
            <div class="footericon1">
              <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
            <div class="footericon1">
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
            <div class="footericon1">
              <a href="https://wa.me/447584485502"
                ><i class="fa-brands fa-square-whatsapp"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./main.js"></script>
  </body>
</html>
