<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7cc20310dc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style.css" />
    <title>MMM Fitness</title>
  </head>
  <body>
    <div class="container">
      <div class="toptier">
        <img class="logo-img" src="/img/logo.png" alt="" />

        <div class="menu-btn">
          <div class="btn-line btn-line1"></div>
          <div class="btn-line btn-line2"></div>
          <div class="btn-line btn-line3"></div>
        </div>
      </div>

      <div class="menu">
        <a class="menu-item" href="/">HOME</a>
        <a class="menu-item" href="/bio">BIO</a>
        <a class="menu-item" href="/services">SERVICES</a>
        <a class="menu-item" href="/testimonials">TESTIMONIALS</a>
        <a class="menu-item" href="/contact">CONTACT</a>
        <form action="/logout?_method=DELETE" method="POST">
          <button class="menu-item menu-item-hilight" type="submit">
            LOG OUT
          </button>
        </form>
      </div>

      <div class="landing">
        <div class="card">
          <% if (typeof message !== 'undefined') { %>
          <div class="error-message">
            <strong><%= message %> </strong>
          </div>
          <% } %>
          <div class="card-title">WORKOUTS</div>

          <label class="form-label">For <%= user.name.toUpperCase() %></label>

          <input
            type="hidden"
            name="_id"
            value="<%= user._id %>"
            class="form-input"
          />

          <input
            type="hidden"
            name="name"
            value="<%= user.name %>"
            class="form-input"
          />

          <input
            type="hidden"
            name="password"
            value="<%= user.password %>"
            class="form-input"
          />

          <input
            type="hidden"
            name="email"
            value="<%= user.email %>"
            class="form-input"
          />

          <% if (user.workouts.length > 0) { %> <%
          user.workouts.forEach(function(workout) { %>

          <a
            href="/user/workout/<%= user._id %>/<%= workout.title %>/user"
            class="form-label workout-title"
            ><%= workout.title %></a
          >

          <% }); %> <% } else { %>
          <p>No workouts found.</p>
          <% } %>

          <div class="card-line-wo-btns">
            <a href="/dashboard" class="form-btn">CANCEL</a>
          </div>
        </div>
      </div>

      <div class="footer">
        <img class="logo-footer" src="/img/logodarkbg.png" alt="" />

        <div class="footertext">
          <div class="footertitle">MMM Fitness</div>
          <div class="footert">Ian Clasby</div>
          <div class="footericons">
            <div class="footericon1">
              <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            </div>
            <div class="footericon1">
              <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
            <div class="footericon1">
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
            <div class="footericon1">
              <a href="https://wa.me/447584485502"
                ><i class="fa-brands fa-square-whatsapp"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/main.js"></script>
  </body>
</html>
