<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7cc20310dc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style.css" />
    <title>MMM Fitness</title>
  </head>
  <body>
    <div class="container">
      <div class="toptier">
        <img class="logo-img" src="/img/logo.png" alt="" />

        <div class="menu-btn">
          <div class="btn-line btn-line1"></div>
          <div class="btn-line btn-line2"></div>
          <div class="btn-line btn-line3"></div>
        </div>
      </div>

      <div class="menu">
        <a class="menu-item" href="/admin">View Users</a>
        <a class="menu-item" href="#">Add User</a>
        <form action="/logout?_method=DELETE" method="POST">
          <button class="menu-item menu-item-hilight" type="submit">
            LOG OUT
          </button>
        </form>
      </div>

      <div class="landing">
        <div class="card">
          <form
            action="/user/update/<%= user._id %>"
            method="POST"
            class="forms"
          >
            <% if (typeof message !== 'undefined') { %>
            <div class="error-message">
              <strong><%= message %> </strong>
            </div>
            <% } %>
            <div class="card-title"><%= user.name %></div>

            <label class="form-label">Gender</label>

            <input
              type="hidden"
              name="name"
              value="<%= user.name %>"
              class="form-input"
            />

            <input
              type="hidden"
              name="password"
              value="<%= user.password %>"
              class="form-input"
            />

            <input
              type="hidden"
              name="email"
              value="<%= user.email %>"
              class="form-input"
            />

            <input
              list="gender"
              name="gender"
              value="<%= user.gender %>"
              class="form-input"
            />
            <datalist id="gender">
              <option value="Male"></option>
              <option value="Female"></option>
            </datalist>

            <label class="form-label">Date of Birth</label>
            <input type="date" name="dateofbirth" <% if (typeof user.dateofbirth
            !== 'undefined') { %>value="<%=
            user.dateofbirth.toISOString().split('T')[0] %>"<% } else { %>
            value="<%= new Date().toISOString().split('T')[0] %>" <% } %>
            class="form-input" />

            <label class="form-label">Age</label>
            <input
              type="text"
              name="age"
              value="<%= user.age %>"
              class="form-input"
            />

            <label class="form-label">Adress</label>
            <input
              type="text"
              name="address"
              value="<%= user.address %>"
              class="form-input"
            />

            <label class="form-label">City</label>
            <input
              type="text"
              name="city"
              value="<%= user.city %>"
              class="form-input"
            />

            <label class="form-label">PostCode</label>
            <input
              type="text"
              name="postcode"
              value="<%= user.postcode %>"
              class="form-input"
            />

            <label class="form-label">Telephone Number</label>
            <input
              type="text"
              name="phone"
              value="<%= user.phone %>"
              class="form-input"
            />

            <label class="form-label">Emergency Contact</label>
            <input
              type="text"
              name="emergencycontact"
              value="<%= user.emergencycontact %>"
              class="form-input"
            />

            <label class="form-label">Emergency Number</label>
            <input
              type="text"
              name="emergencynumber"
              value="<%= user.emergencynumber %>"
              class="form-input"
            />

            <label class="form-label">Start Date</label>
            <input type="date" name="startdate" <% if (typeof user.startdate !==
            'undefined') { %>value="<%=
            user.startdate.toISOString().split('T')[0] %>"<% } else { %>
            value="<%= new Date().toISOString().split('T')[0] %>" <% } %>
            class="form-input" />

            <div class="card-line-btns">
              <a href="/admin" class="form-btn">CANCEL</a>
              <button type="submit" class="form-btn">UPDATE</button>
            </div>
          </form>
        </div>
      </div>

      <div class="footer">
        <img class="logo-footer" src="/img/logodarkbg.png" alt="" />

        <div class="footertext">
          <div class="footertitle">MMM Fitness</div>
          <div class="footert">Ian Clasby</div>
          <div class="footericons">
            <div class="footericon1">
              <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            </div>
            <div class="footericon1">
              <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
            <div class="footericon1">
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
            <div class="footericon1">
              <a href="https://wa.me/447584485502"
                ><i class="fa-brands fa-square-whatsapp"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/main.js"></script>
  </body>
</html>
